:root{
    --colorPrincipal: #0A192F;
    --colorSecundario: #64FFDA;
    --colorTerciario: #112240;
    --colorTextoPrimario: #FFFFFF;
    --colorTextoSecundario: #8892B0;
    --margenLateral: 20px;
    
    /*AÑADIR ETIQUETAS DE PROYECTOS (javascript, html...)*/


}

/* Estilos generales */
body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--colorPrincipal);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* NAVEGADOR */

/* Estilos del encabezado */
header {
    top: 0;
    margin: 0;
    padding: 0 15px;
    position: fixed;
    background-color: var(--colorTerciario);
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5vh;
    z-index: 1000;
}

.logo-header img{
    padding-top: 6px;
    width: 50px;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-menu a{
    color: var(--colorSecundario);
    padding: 15px;
    margin-right: 25px;
}

.nav-menu a:hover{
    color: var(--colorTextoSecundario);
}

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon, #check{
    display: none;
}

.nav-menu a{
    text-decoration: none;
}

/* NAVEGADOR RESPONSIVE */

@media (max-width:768px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        left:-300%;
        background: var(--colorTerciario);
        width: 50%;
        padding: 0;
        right: 0;
    }
    .nav-menu ul li{
        display: flex;
        justify-content: center;
    }
    .nav-menu ul li:last-child{
        background: none;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------*/

/* INICIO */

.inicio {
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    background-color: #E44D26;
    padding-top: 10px;
    display: flex; /* Añadido */
    align-items: center; /* Añadido */
}

.inicio:nth-of-type(even) {
    transform: translateX(-400%);
}

.inicio.show {
    transform: translateX(0);
}

.inicio h2 {
    font-size: 45px;
}

.info {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start; /* Añadido */
}

.names h1{
    color: var(--colorTextoPrimario);
    font-size: 6.5rem;
}

.names h2{
    margin-top: -80px; 
    color: var(--colorTextoSecundario);
    font-size: 3.7rem;
}

.names{
    margin-top: -8rem;
    text-align: center;
}

.rrss img{
    width: 2.5rem;
    height: 40%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.rrss :hover{
    filter: drop-shadow(0 0 5px var(--colorSecundario));
}

.linea-horizontal{
    margin: auto;
    margin-top: 2rem;
    width: 25rem;
    height: 0.25rem;
    background-color: var(--colorTerciario);
}

.perfil{
    margin-left: 5rem;
    height: 32rem;
    border-radius: 2rem  ;
}

.cv,
.cv::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, var(--colorSecundario) 5%);
    border: 0;
    color: var(--colorPrincipal);
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px var(--colorTerciario);
    outline: transparent;
    position: relative;
    width: 300px;
    margin-top: 2rem;
}

.cv a{
    text-decoration: none;
    font-weight: bold;
    color: var(--colorPrincipal);
}

.cv::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "DESCARGAR CV";
 display: block;
 position: absolute;
 width: 275px;
 top: 10;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, var(--colorPrincipal) 3%, var(--colorPrincipal) 5%, var(--colorSecundario) 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px var(--colorPrincipal);
 clip-path: var(--slice-0);
}

.cv:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}


@media only screen and (max-width: 768px) {

    .inicio{
        height: 70vh;
    }

    .info {
        flex-direction: column;
        margin-top: 3rem; /* Ajusta el margen según sea necesario */
    }

    .names {
        margin-top: 0;
    }

    .perfil {
        padding: 0;
        margin: auto; /* Centra la imagen */
        width: 50%; /* Ajusta el ancho según sea necesario */
        height: auto; /* Hace que la imagen sea responsive */
    }

    h1{
        margin-bottom: 4rem;
    }

    .names h1 {
        font-size: 4rem; /* Tamaño de fuente más pequeño */
    }

    .names h2 {
        font-size: 2rem; /* Tamaño de fuente más pequeño */
    }

    .rrss {
        flex-direction: row; /* Alinea los iconos horizontalmente */
        margin-top: 2rem;
        margin-bottom: 2rem; /* Ajusta el margen según sea necesario */
    }

    .linea-horizontal {
        display: none; /* Ajusta el ancho según sea necesario */
    }
}


/*-----------------------------------------------------------------------------------------------------------------------*/

/* SOBRE MÍ */

.about{
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    background-color: #F0DB4F;
}

.container-about {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.sobremi,
.conocimientos {
    color: var(--colorSecundario);
    padding-left: 30px;
    padding-right: 30px;
    flex: 1; 
    min-width: 400px;
}

.conocimientos img{
    width: 60px;
}

.conocimientos:nth-child(1) p{
    text-align: left;
    padding-left: 20px;
}

.titulo-about{
    color: var(--colorTextoPrimario); 
    margin-right: -14px; 
    font-size: 40px;
    padding-left: var(--margenLateral);
    font-weight: bold;
}

.punto-about{
    color: var(--colorSecundario);
    font-size: 100px;
}

.iconos-about{
    display: flex; 
    text-align: center;
}

.subtitulo-about{
    margin-top: -17px;
    font-size: 25px;
    color: var(--colorTextoPrimario);
    padding-left: var(--margenLateral);
}

.linea-vertical{
    margin: auto;
    margin-top: 55px;
    width: 4px;
    height: 600px;
    background-color: var(--colorTerciario);
}

.icon-container{
    margin: 20px 20px;
}

.icon-proyect{
    padding-right: 15px;
    padding-left: 100px;
}

.hover-icon {
    display: none;
}

.icon-container:hover .hover-icon {
    display: inline-block;
}

.icon-container:hover .original-icon {
    display: none;
}

.about:nth-of-type(even) {
    transform: translateX(-400%);
}

.about.show {
    transform: translateX(0);
}

.about h2 {
    font-size: 45px;
}

@media only screen and (max-width: 768px) {

    .about{
        height: 150vh;
    }

    .titulo-about{
        text-align: center;
        margin-right: 0;
        padding-left: 0;
    }

    .container-about {
        flex-direction: column;
        align-items: center;
        padding: 50px; /* Ajusta el padding según sea necesario */
    }
    
    .sobremi{
        margin-top: 50px;
        width: 100%;
        min-width: auto;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .conocimientos{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .iconos-about{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .conocimientos img{
        width: 30px;
    }

    .linea-vertical {
        display: none;
    }

    .subtitulo-about{
        margin-top: -17px;
        font-size: 25px;
        color: var(--colorTextoPrimario);
        padding-left: 0;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------*/

.proyectos{
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    background-color: #264DE4;
}

.container-proyectos {
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.datos-proyectos {
    padding-left: 20px;
    padding-right: 30px;
    flex: 1; 
    min-width: 400px;
}

.titulo-proyectos{
    color: var(--colorTextoPrimario); 
    margin-right: -14px; 
    font-size: 40px;
    padding-left: var(--margenLateral);
    font-weight: bold;
}

.fila-proyectos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tarjeta-proyectos {
    display: flex;
    width: 700px;
    height: 250px;
    margin: 20px;
    margin: 20px;
    border: 1px solid var(--colorSecundario);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--colorTerciario);
    box-shadow: 10px 4px 8px var(--colorSecundario, 0.1);
}

.tarjeta-proyectos:hover .imagen-tarjeta {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al hacer hover */
}

.punto-proyectos{
    color: var(--colorSecundario);
    font-size: 100px;
}

.izquierda {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-caja{
    margin-top: -10px;
    margin-left: -2px;
    color: var(--colorTextoSecundario);
    font-weight: bolder;
    font-size: 35px;
}

.descripcion-caja {
    color: var(--colorSecundario);
    margin-top: -15px;
    font-size: 15px;
    margin-bottom: 15px;
}

.etiquetas-proyectos {
    display: flex;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px 8px;
    border-radius: 4px;
}

.derecha {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.icon-proyect {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    width: 100%; /* Ajusta el ancho del contenedor para que los iconos estén en línea */
    display: flex; /* Permite que los iconos estén en línea */
    justify-content:end; /* Centra los iconos horizontalmente */
    z-index: 1; /* Asegura que estén encima de la imagen */
}

.logo-proyect {
    width: 60px;
    height: 60px;
    margin: 0 5px; /* Ajusta el espacio entre los iconos */
}

.logo-proyect:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px var(--colorTerciario));
}

.imagen-tarjeta {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen cubra completamente el contenedor */
    transition: transform 0.3s; /* Agrega transición para el efecto de zoom */
    position: relative; /* Añade posición relativa para que los elementos absolutos se posicionen respecto a este contenedor */
    
}

.imagen-tarjeta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro semitransparente */
    z-index: 0; /* Asegura que esté detrás de los iconos */
}

.etiqueta-html {
    margin: 0 4px 0 4px;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
    background-color: #E44D26; /* Color corporativo de HTML */
    color: #fff; /* Texto en color blanco */
}

.etiqueta-css {
    margin: 0 4px 0 4px;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
    background-color: #264DE4; /* Color corporativo de CSS */
    color: #fff;
}

.etiqueta-js {
    margin: 0 4px 0 4px;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
    background-color: #F0DB4F; /* Color corporativo de JavaScript */
    color: #000; /* Texto en color negro para mejor contraste */
}

.etiqueta-reactjs {
    margin: 0 4px 0 4px;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
    background-color: #00D8FF; /* Color corporativo de JavaScript */
    color: #1500ff; /* Texto en color negro para mejor contraste */
}

.proyectos:nth-of-type(even) {
    transform: translateX(-400%);
}

.proyectos.show {
    transform: translateX(0);
}

.proyectos h2 {
    font-size: 45px;
}

@media only screen and (max-width: 768px) {

    .proyectos{
        height: 330vh;
    }

    .container-proyectos {
        margin-top: 70vh;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }

    .fila-proyectos {
        flex-direction: column;
        align-items: center;
    }

    .tarjeta-proyectos {
        flex-direction: column; /* Cambia la dirección del flexbox a columnar */
        height: auto; /* Restaura la altura automática para ajustarse al contenido */
        width: auto; /* Restaura el ancho automático para ajustarse al contenido */
    }

    .datos-proyectos {
        min-width: auto;
        padding: 0;
        text-align: center;
        margin-bottom: 30px; /* Ajusta el margen inferior según sea necesario */
    }

    .titulo-proyectos {
        text-align: center;
        margin-right: 0;
        padding-left: 0;
    }

    .linea-proyectos {
        display: none; /* Oculta la línea que separa los proyectos */
    }

    .izquierda {
        height: 85%;
        width: 90%;
        order: 1; /* Cambia el orden de la parte izquierda a 2 para que aparezca después de la parte derecha */
    }

    .derecha {
        order: 2; /* Cambia el orden de la parte derecha a 1 para que aparezca antes de la parte izquierda */
    }

    .icon-proyect {
        position: absolute; /* Restaura la posición estática */
        justify-content: end;
    }

    .imagen-tarjeta {
        height: auto; /* Ajusta la altura de la imagen */
    }

    .logo-proyect {
        width: 40px;
        height: 40px;
        margin: 0 5px; /* Ajusta el espacio entre los iconos */
    }
    
    .logo-proyect:hover {
        cursor: pointer;
        filter: drop-shadow(5px 5px 5px var(--colorTerciario));
    }

    .descripcion-caja {
        margin-bottom: 10px; /* Ajusta el margen inferior de la descripción */
    }

    .etiquetas-proyectos {
        margin-bottom: 0; /* Elimina el margen inferior de las etiquetas */
    }


}


/*-----------------------------------------------------------------------------------------------------------------------*/

.contacto{
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    background-color: #00D8FF;
}

.container-contacto {
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.datos-contacto {
    padding-left: 20px;
    padding-right: 30px;
    flex: 1; 
    min-width: 400px;
}

.titulo-contacto{
    color: var(--colorTextoPrimario); 
    margin-right: -14px; 
    font-size: 40px;
    padding-left: var(--margenLateral);
    font-weight: bold;
}

.punto-contacto{
    color: var(--colorSecundario);
    font-size: 100px;
}

.formulario-contacto {
    text-align: center;
    justify-content: center;
}

.contacto:nth-of-type(even) {
    transform: translateX(-400%);
}

.contacto.show {
    transform: translateX(0);
}

.contacto h2 {
    font-size: 45px;
}

form {
    text-align: left;
    max-width: 400px;
    width: 100%;
    background-color: var(--colorPrincipal);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border: 2px solid var(--colorSecundario);
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--colorSecundario);
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

button,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--colorTerciario);
    color: var(--colorSecundario)
}

.error {
    color: #ff0000;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .contacto{
        height: 90vh;
        transform: translateX(100%);
        transition: transform 0.4s ease;
    }

    .container-contacto {
        text-align: center;
        padding: 0;
        padding-top: 70px;
    }

    .titulo-contacto{
        color: var(--colorTextoPrimario); 
        margin: 0; 
        font-size: 40px;
        padding: 0;
        font-weight: bold;
    }

    .datos-contacto {
        padding: 0;
        flex: 1; 
        min-width: 400px;
    }

    form{
        width: 80%;
    }

    label{
        width: 100%;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------*/

/* BOTON ANIMADO*/

.loader-container {
    display: inline-block;
    vertical-align: middle;
}

.loader {    
    width: 4rem;
    height: 4rem;
    padding: 0.6rem;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: grid;
}

.loader:before,
.loader:after {
    content:"";
    grid-area: 1/1;
    animation: l2 3s infinite linear;
    background:var(--colorSecundario);
    border-radius: 50%;
}

.loader:after {
    animation-delay: -.8s;
}

@keyframes l2{
    12.5% {border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%}
    25%   {border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%}
    37.5% {border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%}
    50%   {border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%}
    62.5% {border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%}
    75%   {border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%}
    87.5% {border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%}
}

@media screen and (max-width: 768px) {
    .loader-container {
        display: none;
    }
}